@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gotham-book.eot');
    src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book.woff2') format('woff2'),
         url('../fonts/gotham-book.woff') format('woff'),
         url('../fonts/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham-book.svg#gothambook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'line';
    src: url('../fonts/line.eot');
    src: url('../fonts/line.eot?#iefix') format('embedded-opentype'),
         url('../fonts/line.woff2') format('woff2'),
         url('../fonts/line.woff') format('woff'),
         url('../fonts/line.ttf') format('truetype'),
         url('../fonts/line.svg#line') format('svg');
    font-weight: normal;
    font-style: normal;

}