/*@font-face {
    font-family: 'origin';
    src: url('../fonts/origin-regular-webfont.eot');
    src: url('../fonts/origin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/origin-regular-webfont.woff2') format('woff2'),
         url('../fonts/origin-regular-webfont.woff') format('woff'),
         url('../fonts/origin-regular-webfont.ttf') format('truetype'),
         url('../fonts/origin-regular-webfont.svg#originregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/