<section>
<img class="logo" src="images/logo.svg">
<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
		<h2>ALAN</h2>
	</div>
  <div class="col-md-12">
    <img class="leftpaddinglarge" src="images/alan-arch.png">
  </div>

</div>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#system"> <i class="fa fa-angle-left"></i> </a>
            <a href="#appmodel"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>