<!-- <a href="#management">
<img class="logo" src="images/logo.svg">
<h1>{{ title }}</h1>
<h2>{{ slogan }}</h2>
</a> -->
<section>
<img class="logo" src="images/logo.svg">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2 text-center">
      <font face="line">
        	<h2>ALAN Competition</h2>
      </font>
    </div>
  </div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1410 559" enable-background="new 0 0 1410 559" xml:space="preserve">
<g id="Layer_1" display="none">
	
		<image display="inline" overflow="visible" width="464" height="299" xlink:href="../../../../Downloads/ALANx.jpg"  transform="matrix(1.6064 0 0 1.6064 344.4945 37.7912)">
	</image>
</g>
<g id="Layer_2">
	<rect x="10.6" y="8.8" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 32.1093 36.2637)" fill="#FFFFFF" font-family="'Venera700'" font-size="16">question mark</text>
	<rect x="8.6" y="486.9" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 99.2072 518.7252)" fill="#FFFFFF" font-family="'Venera700'" font-size="16">Dog</text>
	<rect x="1166.5" y="494.6" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 1219.8905 526.4835)" fill="#FFFFFF" font-family="'Venera700'" font-size="16">cash cow</text>
	<rect x="1169.7" y="9.8" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 1195.9346 32.8351)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera700'" font-size="16">portfolio mix </tspan><tspan x="6.1" y="19.2" fill="#FFFFFF" font-family="'Venera700'" font-size="16">management</tspan></text>
	<text transform="matrix(1 0 0 1 560.8339 14.2855)" fill="#FFFFFF" font-family="'Venera900'" font-size="16">high growth potential</text>
	<text transform="matrix(1 0 0 1 560.8338 554.6151)" fill="#FFFFFF" font-family="'Venera900'" font-size="16">high growth potential</text>
	<text transform="matrix(1 0 0 1 5.4945 241.7581)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera900'" font-size="16">low relative</tspan><tspan x="0" y="19.2" fill="#FFFFFF" font-family="'Venera900'" font-size="16">market share</tspan></text>
	<text transform="matrix(1 0 0 1 1229.443 241.7911)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera900'" font-size="16">high relative</tspan><tspan x="-9.7" y="19.2" fill="#FFFFFF" font-family="'Venera900'" font-size="16">market share</tspan></text>
	<g>
		<g>
			<line fill="none" stroke="#A90D15" stroke-width="2" stroke-miterlimit="10" x1="704" y1="29" x2="704" y2="35"/>
			
				<line fill="none" stroke="#A90D15" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12,12" x1="704" y1="47" x2="704" y2="518"/>
			<line fill="none" stroke="#A90D15" stroke-width="2" stroke-miterlimit="10" x1="704" y1="524" x2="704" y2="530"/>
		</g>
	</g>
	<g>
		<g>
			<line fill="none" stroke="#A90D15" stroke-width="2" stroke-miterlimit="10" x1="203" y1="245" x2="209" y2="245"/>
			
				<line fill="none" stroke="#A90D15" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12,12" x1="221" y1="245" x2="1190" y2="245"/>
			<line fill="none" stroke="#A90D15" stroke-width="2" stroke-miterlimit="10" x1="1196" y1="245" x2="1202" y2="245"/>
		</g>
	</g>
	<circle fill="none" stroke="#A81E23" stroke-width="2" stroke-miterlimit="10" cx="526.4" cy="219.4" r="41.8"/>
	<g>
		<g>
			<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="499.3,199.5 499.3,192 506.9,192 			"/>
			
				<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="519.8" y1="192" x2="539.3" y2="192"/>
			<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="545.8,192 553.3,192 553.3,199.5 			"/>
			
				<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="553.3" y1="212.5" x2="553.3" y2="232"/>
			<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="553.3,238.6 553.3,245.9 545.8,245.9 			"/>
			
				<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="532.9" y1="245.9" x2="513.3" y2="245.9"/>
			<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="506.9,245.9 499.3,245.9 499.3,238.6 			"/>
			
				<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="499.3" y1="225.6" x2="499.3" y2="206"/>
		</g>
		<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 526.4 219.4" from="0 526.4 219.4" restart="always" attributeType="xml" repeatCount="indefinite">
		</animateTransform>

		
	</g>
	<circle fill="#A81E23" cx="527.2" cy="218.9" r="20.1"/>
	<rect x="498.8" y="212.5" fill="none" width="63" height="13.9"/>
	<text transform="matrix(1 0 0 1 495.3091 223.4037)" fill="#CCCCCB" font-family="'Venera900'" font-size="15.8548">roku</text>
	<circle fill="none" stroke="#A81E23" stroke-width="2" stroke-miterlimit="10" cx="673.9" cy="181.9" r="54.3"/>
	<g>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="638.7,156.1 638.7,146.4 648.5,146.4 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="665.3" y1="146.4" x2="690.7" y2="146.4"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="699.1,146.4 708.8,146.4 708.8,156.1 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="708.8" y1="173" x2="708.8" y2="198.2"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="708.8,206.8 708.8,216.4 699.1,216.4 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="682.4" y1="216.4" x2="656.8" y2="216.4"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="648.5,216.4 638.7,216.4 638.7,206.8 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="638.7" y1="189.9" x2="638.7" y2="164.5"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 673.9 181.9" from="0 673.9 181.9" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
	</g>
	<circle fill="#A81E23" cx="675" cy="181.3" r="26.2"/>
	<rect x="638.1" y="173" fill="none" width="81.8" height="18"/>
	<text transform="matrix(1 0 0 1 633.5063 187.1026)" fill="#CCCCCB" font-family="'Venera900'" font-size="20.596">alan</text>
	<circle fill="none" stroke="#A81E23" stroke-width="2" stroke-miterlimit="10" cx="609.4" cy="303.4" r="75.3"/>
	<g>
	<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="560.6,267.6 560.6,254.1 574.2,254.1 	"/>
	
		<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="597.5" y1="254.1" x2="632.7" y2="254.1"/>
	<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="644.4,254.1 657.8,254.1 657.8,267.6 	"/>
	
		<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="657.8" y1="291" x2="657.8" y2="326"/>
	<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="657.8,338 657.8,351.2 644.4,351.2 	"/>
	
		<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="621.2" y1="351.2" x2="585.7" y2="351.2"/>
	<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="574.2,351.2 560.6,351.2 560.6,338 	"/>
	
		<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="560.6" y1="314.5" x2="560.6" y2="279.3"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 609.4 303.4" from="0 609.4 303.4" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
	</g>
	<circle fill="#A81E23" cx="610.9" cy="302.5" r="36.3"/>
	<rect x="559.7" y="291" fill="none" width="113.5" height="25"/>
	<text transform="matrix(1 0 0 1 547.9576 297.1151)" enable-background="new    "><tspan x="0" y="0" fill="#CCCCCB" font-family="'Venera900'" font-size="24">kindle </tspan><tspan x="27.4" y="28.8" fill="#CCCCCB" font-family="'Venera900'" font-size="24">fire</tspan></text>
	<g>
		<g>
		<circle fill="none" stroke="#A81E23" stroke-width="2" stroke-miterlimit="10" cx="1003.6" cy="281.7" r="77.5"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="953.3,244.9 953.3,231.1 967.4,231.1 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="991.3" y1="231.1" x2="1027.5" y2="231.1"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1039.6,231.1 1053.4,231.1 1053.4,244.9 		"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1053.4,317.3 1053.4,330.9 1039.6,330.9 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="1015.6" y1="330.9" x2="979.2" y2="330.9"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="967.4,330.9 953.3,330.9 953.3,317.3 "/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 1003.6 281.7" from="0 1003.6 281.7" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
		</g>
		<circle fill="#A81E23" cx="1005.1" cy="280.9" r="37.3"/>
		<rect x="952.4" y="269" fill="none" width="116.7" height="25.7"/>
		<text transform="matrix(1 0 0 1 940.7939 276.3105)" fill="#CCCCCB" font-family="'Venera900'" font-size="15.4289">microsoft</text>
	</g>
	<g>
		<g>
		<circle fill="none" stroke="#A81E23" stroke-width="2" stroke-miterlimit="10" cx="1059.6" cy="187.6" r="77.5"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1009.4,150.8 1009.4,136.9 1023.4,136.9 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="1047.3" y1="136.9" x2="1083.5" y2="136.9"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1095.6,136.9 1109.4,136.9 1109.4,150.8 		"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1109.4,223.2 1109.4,236.8 1095.6,236.8 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="1071.7" y1="236.8" x2="1035.3" y2="236.8"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1023.4,236.8 1009.4,236.8 1009.4,223.2 		"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 1059.6 187.6" from="0 1059.6 187.6" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
		</g>
		<circle fill="#A81E23" cx="1061.2" cy="186.8" r="37.3"/>
		<rect x="1008.5" y="174.9" fill="none" width="116.7" height="25.7"/>
		<text transform="matrix(1 0 0 1 1004.6582 181.1655)" fill="#CCCCCB" font-family="'Venera900'" font-size="24.6863">apple</text>
	</g>
	<g>
		<circle fill="none" stroke="#A81E23" stroke-width="2" stroke-miterlimit="10" cx="1072.5" cy="77" r="77.5"/>
		<g>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1022.2,40.1 1022.2,26.3 1036.3,26.3 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="1060.2" y1="26.3" x2="1096.4" y2="26.3"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1108.5,26.3 1122.3,26.3 1122.3,40.1 		"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1122.3,112.5 1122.3,126.1 1108.5,126.1 		"/>
		
			<line fill="none" stroke="#A90D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="1084.6" y1="126.1" x2="1048.1" y2="126.1"/>
		<polyline fill="none" stroke="#A90D15" stroke-miterlimit="10" points="1036.3,126.1 1022.2,126.1 1022.2,112.5 		"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 1072.5 77" from="0 1072.5 77" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
		</g>
		<circle fill="#A81E23" cx="1074" cy="76.1" r="37.3"/>
		<rect x="1021.4" y="64.2" fill="none" width="116.7" height="25.7"/>
		<text transform="matrix(1 0 0 1 1003.1738 70.4878)" enable-background="new    "><tspan x="0" y="0" fill="#CCCCCB" font-family="'Venera900'" font-size="22.6291">chrome </tspan><tspan x="31.1" y="27.2" fill="#CCCCCB" font-family="'Venera900'" font-size="22.6291">cast</tspan></text>
	</g>
</g>
</svg>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#market"> <i class="fa fa-angle-left"></i> </a>
            <a href="#competitionCEP"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>