<section>
<img class="logo" src="images/logo.svg">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2 text-center">
      <font face="line">
        	<h2>unaTone Competition</h2>
      </font>
    </div>
  </div>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1410 559" enable-background="new 0 0 1410 559" xml:space="preserve">
<g id="Layer_2">
	<rect x="10.6" y="8.8" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 32.1093 36.2637)" fill="#FFFFFF" font-family="'Venera700'" font-size="16">question mark</text>
	<rect x="8.6" y="486.9" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 99.2072 518.7252)" fill="#FFFFFF" font-family="'Venera700'" font-size="16">Dog</text>
	<rect x="1166.5" y="494.6" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 1219.8905 526.4835)" fill="#FFFFFF" font-family="'Venera700'" font-size="16">cash cow</text>
	<rect x="1169.7" y="9.8" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" width="230.8" height="53.8"/>
	<text transform="matrix(1 0 0 1 1195.9346 32.8351)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera700'" font-size="16">portfolio mix </tspan><tspan x="6.1" y="19.2" fill="#FFFFFF" font-family="'Venera700'" font-size="16">management</tspan></text>
	<text transform="matrix(1 0 0 1 560.8339 14.2855)" fill="#FFFFFF" font-family="'Venera900'" font-size="16">high growth potential</text>
	<text transform="matrix(1 0 0 1 560.8338 554.6151)" fill="#FFFFFF" font-family="'Venera900'" font-size="16">high growth potential</text>
	<text transform="matrix(1 0 0 1 5.4945 241.7581)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera900'" font-size="16">low relative</tspan><tspan x="0" y="19.2" fill="#FFFFFF" font-family="'Venera900'" font-size="16">market share</tspan></text>
	<text transform="matrix(1 0 0 1 1229.443 241.7911)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera900'" font-size="16">high relative</tspan><tspan x="-9.7" y="19.2" fill="#FFFFFF" font-family="'Venera900'" font-size="16">market share</tspan></text>
	<g>
		<g>
			<line fill="none" stroke="#A70D15" stroke-width="2" stroke-miterlimit="10" x1="704" y1="29" x2="704" y2="35"/>
			
				<line fill="none" stroke="#A70D15" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12,12" x1="704" y1="47" x2="704" y2="518"/>
			<line fill="none" stroke="#A70D15" stroke-width="2" stroke-miterlimit="10" x1="704" y1="524" x2="704" y2="530"/>
		</g>
	</g>
	<g>
		<g>
			<line fill="none" stroke="#A70D15" stroke-width="2" stroke-miterlimit="10" x1="203" y1="245" x2="209" y2="245"/>
			
				<line fill="none" stroke="#A70D15" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12,12" x1="221" y1="245" x2="1190" y2="245"/>
			<line fill="none" stroke="#A70D15" stroke-width="2" stroke-miterlimit="10" x1="1196" y1="245" x2="1202" y2="245"/>
		</g>
	</g>
	<circle fill="none" stroke="#A61E23" stroke-width="2" stroke-miterlimit="10" cx="494.8" cy="158.4" r="59.8"/>
	<g>
		<g>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="456,129.9 456,119.3 466.8,119.3 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="485.3" y1="119.3" x2="513.2" y2="119.3"/>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="522.5,119.3 533.2,119.3 533.2,129.9 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="533.2" y1="148.6" x2="533.2" y2="176.4"/>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="533.2,185.8 533.2,196.3 522.5,196.3 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="504.1" y1="196.3" x2="475.9" y2="196.3"/>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="466.8,196.3 456,196.3 456,185.8 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="456" y1="167.2" x2="456" y2="139.3"/>
		<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 494.8 158.4" from="0 494.8 158.4" restart="always" attributeType="xml" repeatCount="indefinite">
		</animateTransform>
		</g>
	</g>
	<circle fill="#A61E23" cx="495.9" cy="157.7" r="28.8"/>
	<rect x="455.3" y="148.6" fill="none" width="90.1" height="19.8"/>
	<text transform="matrix(1 0 0 1 438.9219 159.128)" fill="#CACAC9" font-family="'Venera900'" font-size="18">pioneer</text>
	<circle fill="none" stroke="#A61E23" stroke-width="2" stroke-miterlimit="10" cx="731.3" cy="89.2" r="59.3"/>
	<g>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="692.8,61 692.8,50.4 703.5,50.4 		"/>
		
			<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="721.8" y1="50.4" x2="749.6" y2="50.4"/>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="758.8,50.4 769.4,50.4 769.4,61 		"/>
		
			<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="769.4" y1="79.5" x2="769.4" y2="107"/>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="769.4,116.4 769.4,126.9 758.8,126.9 		"/>
		
			<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="740.5" y1="126.9" x2="712.6" y2="126.9"/>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="703.5,126.9 692.8,126.9 692.8,116.4 		"/>
		
			<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="692.8" y1="98" x2="692.8" y2="70.3"/>
		<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 731.3 89.2" from="0 731.3 89.2" restart="always" attributeType="xml" repeatCount="indefinite">
		</animateTransform>
	</g>
	<circle fill="#A61E23" cx="732.4" cy="88.6" r="28.6"/>
	<rect x="638.1" y="173" fill="none" width="81.8" height="18"/>
	<text transform="matrix(1 0 0 1 675.1121 94.9149)" fill="#CACAC9" font-family="'Venera900'" font-size="22.4925">sonos</text>
		<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="597.5" y1="254.1" x2="632.7" y2="254.1"/>
	<rect x="589.7" y="139.7" fill="none" width="119.5" height="26.3"/>
	<circle fill="none" stroke="#A61E23" stroke-width="2" stroke-miterlimit="10" cx="616.6" cy="175.2" r="53.8"/>
	<g>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="581.7,149.6 581.7,140 591.4,140 	"/>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="641.6,140 651.2,140 651.2,149.6 	"/>
	
		<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="651.2" y1="166.4" x2="651.2" y2="191.4"/>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="651.2,199.9 651.2,209.4 641.6,209.4 	"/>
	
		<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="625" y1="209.4" x2="599.7" y2="209.4"/>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="591.4,209.4 581.7,209.4 581.7,199.9 	"/>
	
		<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="581.7" y1="183.2" x2="581.7" y2="158"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 616.6 175.2" from="0 616.6 175.2" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
	</g>
	<circle fill="#A61E23" cx="617.7" cy="174.6" r="25.9"/>
	<text transform="matrix(1 0 0 1 562.9653 180.2404)" fill="#CACAC9" font-family="'Venera900'" font-size="15">unaTone</text>
	<circle fill="none" stroke="#A61E23" stroke-width="2" stroke-miterlimit="10" cx="955.6" cy="368.6" r="115.5"/>
	<g>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="880.7,313.7 880.7,293.1 901.7,293.1 	"/>
		<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="937.3" y1="293.1" x2="991.3" y2="293.1"/>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="1009.3,293.1 1029.9,293.1 1029.9,313.7 	"/>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="1029.9,421.6 1029.9,441.9 1009.3,441.9 	"/>
	
		<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="973.6" y1="441.9" x2="919.3" y2="441.9"/>
	<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="901.7,441.9 880.7,441.9 880.7,421.6 	"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 955.6 368.6" from="0 955.6 368.6" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
	</g>
	<circle fill="#A61E23" cx="957.9" cy="367.3" r="55.6"/>
	<rect x="879.4" y="349.7" fill="none" width="174" height="38.3"/>
	<g>
		<circle fill="none" stroke="#A61E23" stroke-width="2" stroke-miterlimit="10" cx="1004.3" cy="139.8" r="117.8"/>
		<g>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="927.9,83.7 927.9,62.7 949.3,62.7 		"/>
		
			<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="985.6" y1="62.7" x2="1040.7" y2="62.7"/>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="1059,62.7 1080.1,62.7 1080.1,83.7 		"/>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="1080.1,193.8 1080.1,214.5 1059,214.5 		"/>
		
			<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="1022.7" y1="214.5" x2="967.3" y2="214.5"/>
		<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="949.3,214.5 927.9,214.5 927.9,193.8 		"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 1004.3 139.8" from="0 1004.3 139.8" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
		</g>
		<circle fill="#A61E23" cx="1006.6" cy="138.5" r="56.7"/>
		<rect x="926.6" y="120.4" fill="none" width="177.5" height="39"/>
		<text transform="matrix(1 0 0 1 889.1361 133.9557)" fill="#CACAC9" font-family="'Venera900'" font-size="32">samsung</text>
	</g>
	<circle fill="none" stroke="#A61E23" stroke-width="2" stroke-miterlimit="10" cx="557.8" cy="363.7" r="72.8"/>
	<g>
		<g>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="510.5,329.1 510.5,316.1 523.7,316.1 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="546.2" y1="316.1" x2="580.2" y2="316.1"/>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="591.6,316.1 604.6,316.1 604.6,329.1 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="604.6" y1="351.8" x2="604.6" y2="385.6"/>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="604.6,397.1 604.6,409.9 591.6,409.9 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="569.1" y1="409.9" x2="534.9" y2="409.9"/>
			<polyline fill="none" stroke="#A70D15" stroke-miterlimit="10" points="523.7,409.9 510.5,409.9 510.5,397.1 			"/>
			
				<line fill="none" stroke="#A70D15" stroke-miterlimit="10" stroke-dasharray="10.4,10.4" x1="510.5" y1="374.5" x2="510.5" y2="340.4"/>
			<animateTransform  type="rotate" fill="remove" attributeName="transform" accumulate="none" calcMode="linear" dur="5s" additive="replace" to="360 557.8 363.7" from="0 557.8 363.7" restart="always" attributeType="xml" repeatCount="indefinite">
			</animateTransform>
		</g>
	</g>
	<circle fill="#A61E23" cx="559.2" cy="362.9" r="35.1"/>
	<rect x="509.7" y="351.8" fill="none" width="109.7" height="24.1"/>
	<text transform="matrix(1 0 0 1 488.8749 366.6288)" fill="#CACAC9" font-family="'Venera900'" font-size="16">panasonic</text>
	<text transform="matrix(1 0 0 1 889.2533 358.9929)" fill="#CACAC9" font-family="'Venera900'" font-size="36.7979">bose</text>
</g>
</svg>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#competitionCEP"> <i class="fa fa-angle-left"></i> </a>
            <a href="#management"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>