<section>
<img class="logo" src="images/logo.svg">
<div class="row">
	<div class="col-md-12">
		<h2>unaLine</h2>
	</div>
	<div class="col-md-3">
		<h3>unaBook</h3>
		<img src="images/book_front.jpg">
	</div>
	<div class="col-md-3">
		<h3>unaVision</h3>
		<img src="images/newtv3.jpg">
	</div>
	<div class="col-md-3">
		<h3>unaPhone</h3>
		<img src="images/phone.jpg">
	</div>
	<div class="col-md-3">
		<h3>unaTone</h3>
		<img src="images/newspeaker1.jpg">
	</div>
</div>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#magic"> <i class="fa fa-angle-left"></i> </a>
            <a href="#platform"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>