<section>
<!-- <a href="#market"> -->
<img class="logo" src="images/logo.svg">
<!-- <h1>{{ title }}</h1>
<h2>{{ slogan }}</h2>
</a> -->
<div class="row">
  	<div class="col-md-8 col-md-offset-2 text-center">
      <font face="line">
        	<h2>System</h2>
      </font>
    </div>
<img src="images/magic.png">
</div>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#model"> <i class="fa fa-angle-left"></i> </a>
            <a href="#devices"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>