<!-- <a href="#financials">
<img class="logo" src="images/logo.svg">
<h1>{{ title }}</h1>
<h2>{{ slogan }}</h2>
</a> -->
<section>
<img class="logo" src="images/logo.svg">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2 text-center">
      <font face="line">
        	<h2 id="nopadding">Management</h2>
      </font>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-3 placeright">
  		<img src="images/leo.png">
  	</div>
  	<div class="col-md-3">
  		<h4>Leo Schultz</h4>
  		<p><b>President and Founder</b><br>MS in Computer Engineering from Santa Clara University<br>Over 5 years of Professional Experience in Software Development. <br> Over 7 years of Professional Experience in Management Roles.
		</p>
  	</div>
  	<div class="col-md-3 placeright">
  		<img src="images/thomas.png">
  	</div>
  	<div class="col-md-3">
  		<h4>Thomas Hessler</h4>
  		<p><b>Executive Project Manager</b><br>BS from Santa Clara University in Political Science<br>Over 2 years experience in legal field.<br>Over 5 years in administrative field.<br>Successfully lead five companies’ administrative functions.<br>Professional level skills in web development.


  		</p>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-3 placeright">
  		<img src="images/kevin.png">
  	</div>
  	<div class="col-md-3">
  		<h4>Kevin Ryan</h4>
  		<p><b>VP of Operations and Co-Founder</b><br>MBA from Niagara University in Finance<br>4 years of professional experience in financial planning and valuation.<br>Experience with 4 companies (2 current) as a business strategy and management consultant.
  		</p>
  	</div>
  	<div class="col-md-3 placeright">
  		<img src="images/kevina.png">
  	</div>
  	<div class="col-md-3">
  		<h4>Kevin Alyosius</h4>
  		<p><b>Systems Architect</b><br>MS in Computer Engineering from Santa Clara University<br>Developed proof of concept to automate Symantec’s virtualization infrastructure<br>Developed multi-touch surface computer from scratch out of a glass table<br>7 programming language polyglot</p>
  	</div>
  </div>
  <div class="row">
  	<div class="col-md-3 placeright">
  		<img src="images/sandy.png">
  	</div>
  	<div class="col-md-3">
  		<h4>Sandy Siththanandan</h4>
  		<p><b>Executive Project Manager</b><br>MS from Santa Clara University in Computer Science and Engineering<br>5 years experience assisting in radio and television news broadcasting.<br>6+ years experience in administration.<br>Broad study in cognitive and computer sciences.
		</p>
  	</div>
  </div>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#competitionUnaTone"> <i class="fa fa-angle-left"></i> </a>
            <a href="#financials"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>