<section>
<img class="logo" src="images/logo.svg">
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Platform</h2>
  </div>
	<div class="col-md-12">
		<img src="images/cep.png">
	</div>
</div>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#devices"> <i class="fa fa-angle-left"></i> </a>
            <a href="#system"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>