<!-- <a href="#ask">
<img class="logo" src="images/logo.svg">
<h1>{{ title }}</h1>
<h2>{{ slogan }}</h2>
</a> -->
<section>
<img class="logo" src="images/logo.svg">
<div class="row">
  	<div class="col-md-8 col-md-offset-2 text-center">
      <font face="line">
        	<h2>Status</h2>
      </font>
    </div>
</div>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 1410 559" enable-background="new 0 0 1410 559" xml:space="preserve">
<circle fill="none" stroke="#A90D15" stroke-miterlimit="10" cx="248.4" cy="259" r="195.1"/>
<circle fill="none" stroke="#A90D15" stroke-miterlimit="10" cx="701.2" cy="258" r="195.1"/>
<circle fill="none" stroke="#A90D15" stroke-miterlimit="10" cx="1156.4" cy="259" r="195.1"/>
<path fill="#A90D15" d="M1296.6,146.7h-279.6c-13,0-25.1,7-31.3,18.4c-15.2,27.9-23.9,59.6-23.9,93.5
  c0,107.7,87.3,195.1,195.1,195.1c107.7,0,195.1-87.3,195.1-195.1c0-33.9-8.7-65.6-23.9-93.5C1321.6,153.7,1309.6,146.7,1296.6,146.7
  z">
<animate id="1" attributeName="fill-opacity" values="0;1" dur="6s" fill="freeze" begin="0"/>
</path>
<path fill="#A90D15" d="M542.1,259.2c-20.5,0.1-36,18.9-31.7,38.9c18.6,88.4,97,154.7,190.9,154.7c94.3,0,172.9-66.9,191.1-155.8
  c4.1-20.1-11.4-38.8-31.9-38.8L542.1,259.2z">
<animate id="2" attributeName="fill-opacity" values="0;1" dur="6s" fill="freeze" begin="0"/>
</path>
<text transform="matrix(1 0 0 1 608.7765 159.4395)" fill="#FFFFFF" font-family="'Venera900'" font-size="30">luscios</text>
<text transform="matrix(1 0 0 1 608.3976 206.6924)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera900'" font-size="21">build alan </tspan><tspan x="-14.4" y="25.2" fill="#FFFFFF" font-family="'Venera900'" font-size="21">desktop env</tspan><tspan x="-60.5" y="50.4" fill="#FFFFFF" font-family="'Venera900'" font-size="21">security &amp; Backup</tspan></text>
<text transform="matrix(1 0 0 1 663.1689 334.9227)" fill="#FFFFFF" font-family="'Venera900'" font-size="25">50%</text>
<text transform="matrix(1 0 0 1 1117.7157 340.9117)" fill="#FFFFFF" font-family="'Venera900'" font-size="25">90%</text>
<text transform="matrix(1 0 0 1 1055.9087 207.6924)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera900'" font-size="21">restful api </tspan><tspan x="-38.2" y="25.2" fill="#FFFFFF" font-family="'Venera900'" font-size="21">restful service</tspan><tspan x="-67.2" y="50.4" fill="#FFFFFF" font-family="'Venera900'" font-size="21">client consumption</tspan></text>
<text transform="matrix(1 0 0 1 1033.1782 159.3405)" fill="#FFFFFF" font-family="'Venera900'" font-size="30">syncform</text>
<path fill="#A90D15" d="M396.7,197H100.2c-23.6,0-43.3,17.9-45.7,41.4c-0.7,6.8-1.1,13.8-1.1,20.7c0,107.7,87.3,195,195.1,195
  s195.1-87.2,195.1-195c0-7.3-0.4-14.5-1.2-21.6C439.8,214.4,420,197,396.7,197z">
  <animate id="3" attributeName="fill-opacity" values="0;1" dur="6s" fill="freeze" begin="0"/>
</path>
<text transform="matrix(1 0 0 1 188.2685 160.4395)" fill="#FFFFFF" font-family="'Venera900'" font-size="30">alan</text>
<text transform="matrix(1 0 0 1 155.2899 207.6924)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Venera900'" font-size="21">hardware </tspan><tspan x="-29.7" y="25.2" fill="#FFFFFF" font-family="'Venera900'" font-size="21">configuration</tspan></text>
<text transform="matrix(1 0 0 1 211.2031 323.0765)" fill="#FFFFFF" font-family="'Venera900'" font-size="25">70%</text>
</svg>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#financials"> <i class="fa fa-angle-left"></i> </a>
            <a href="#ask"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>