<section>
<img class="logo" src="images/logo.svg">
<div class="row">
  	<div class="col-md-8 col-md-offset-2 text-center">
      <font face="line">
        	<h2>Strategic Initiatives</h2>
      </font>
    </div>
  <div class="col-md-12">
    <h3>Content goes here</h3>
  </div>
</div>
    <div class="container-fluid">
          <footer class="sinker-right">
            <a href="#ask"> <i class="fa fa-angle-left"></i> </a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>