<section id="section1">
	<div class="container">
		<div class="row top-buffer">
			<div class="col-md-12">
				<div class="text-center">
					<img class="responsive titlelogo" src="images/logo.svg">
					<font face="line"></font>
				</div>
			</div>
		</div>
	</div>
  <div class="container">
      <div class="row">
          <div class="text-center">
              <font face="line">
              	<h1 class="bold">SYNC YOUR WORLD</h1>
              </font>
          </div>
        </div>
    </div>
    <div class="container-fluid">
          <footer class="sinker">
            <a href="#ask"> <i class="fa fa-angle-left"></i> </a>
            <a href="#problem"><i class="fa fa-angle-right"></i></a>
            <a href="#"><i class="fa fa-home"></i></a>
          </footer>
    </div>
</section>
